.btnBuy{
    cursor: pointer;
    position: fixed;
    top:150px;
    right:20px;
    padding: 15px;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    background:rgb(163, 47, 47);
    &:hover{
        scale:1.1;
    }
}
