.card{
    position: relative;
   background: #ffff;
   box-sizing: border-box;
   flex-basis: 65%;
   height: 500px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.btn{
    background: rgba(202, 199, 199,0.3);
    border:none;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 10px;
}
.price{
    font-size: 23px;
    font-weight: 700;
    color: red;
}
.img{

    height: 275px;
}
.svg{
    top:20px;
    right: 10px;
    position: absolute;
}

.squer{
    width: 20px;
    height: 500px;
    position: absolute;
    left: 0;
    top:0;
}
.deleteBtn{
    position: absolute;
    right: 15px;
    font-size: 30px;
    top:50px;
    cursor: pointer;
}
