.wrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(12, 12, 12, 0.7);
}
.forma{
    background:rgb(180, 175, 175);
    position: relative;
    border-radius: 5px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:5px;
    padding:20px 5px;
    input{
        width: 400px;
        height: 40px;
        border-radius: 15px;
       border: none;
    }
    label{
        font-size: 17px;
    }
}
.btnBuy{
    position:relative;
    width: 300px;
    padding:15px;
    margin-top:20px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.closeForm{
    position: absolute;
    right: 20px;
    top:10px;
    font-size: 30px;
    cursor: pointer;
}
.err{
    position: relative;
    color:rgb(131, 37, 37);
    font-size: 17px;
}
.inputWrapper{
    display: flex;
    gap:10px;
    flex-direction: column;
}