.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    &__content{
        padding:0 10px;
        color:#FFFF;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        height: 200px;
        &__close{
            position: absolute;
            top:0px;
            right:7px;
            font-size: 30px;
            cursor: pointer; 
        }
        &__title{
            background: rgba(41, 41, 41, 0.4);
            padding: 20px 10px;
            width: 100%;
            margin:0;
        }
        &__btn{
            background: rgba(67, 65, 65, 0.5);
            font-size: 20px;
            color: #FFFF;
            width: 100px;
            cursor: pointer;
            margin:15px 10px;
            padding:5px 20px;
            border:none; 
        }
    }
    }
