.log{
    width: 200px;
}
.navbar{
   display: flex; 
   justify-content: space-between;
   align-items: center;
    padding: 20px;
}
.slogan{
    font-size: 30px;
}
.goods,.star{
    position: absolute;
    width: 20px;
    height: 20px;
    right:65px;
    top:50px;
    border-radius: 10px;
    text-align: center;
    color:#FFF;
    background: rgb(221, 22, 22);
}
.iconstar{
    width: 30px;
    height: 30px;  
}
.star{
    right:15px;
}
.icon{
    position: absolute;
    right: 80px;
    top:82px;
    width: 30px;
    height: 30px;
}